@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

html, body {
    height: 100%;
  }

.body-bg {
    min-height: 100vh;
}

.nav-item {
  font-size: 1.2em;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}

.nav-link {
  color: white;
}

.text-primary, .nav-link:hover, .active {
  color: rgb(255, 166, 0)!important;
}

a {
  text-decoration: none;
}

@media (min-width: 576px){
  .dropdown:hover > .dropdown-menu {
    display:block;
    margin-top: 0;
  }
}

/* PAGE ACCUEIL */

h1 {
  font-size: 11vw;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}

.slogan {
  font-size: 5vw;
  font-family: 'Kaushan Script', cursive;
  margin-top: -2vw;
}

h2 {
  font-size: 3em;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}

h3 {
  margin-top: -10px;
  font-family: 'Kaushan Script', cursive;
}


/* CAROUSEL CSS */

.img-carou {
  height: 100vh;
}

.img-carou img  {
  min-height: 100vh;
  min-width: 100%;
  filter: brightness(50%);
}

/* PLAT CSS */

.plat-bg {
  background-image: url('../../assets/img/background.jpg');
  background-size: 100vw;
  background-position: center;
  background-attachment: fixed;
}

/* CATEGORIE CSS */

.cate img {
  border-radius: 50%;
  max-width: 75%;
}

.cate h4 {
  font-size: 2vw;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
}

/* OLD */

.cat img {
  filter: brightness(70%);
  object-fit: cover;
  height: 15vh;
}

/* BREAKPOINT */

@media (max-width: 767px) {
  h1 {
    font-size: 20vw;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    line-height: 20vw;
  }
  
  .slogan {
    font-size: 10vw;
    font-family: 'Kaushan Script', cursive;
    margin-top: -2vw;
    line-height: 10vw;
  }

  .cate h4 {
    font-size: 5vw;
  }
  

  h4 {
    font-size: 12vw;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    line-height: 10vw;
  }
  
}